.App {
  text-align: center;
  color: var(--text-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Search bar styling */
.search-bar {
  height: 50px;
}
.search-bar__input {
  height: 50px;
  width: calc(35%);
  border-radius: var(--border-radius);
  background-color: var(--theme-gray-color);
  /* box-shadow: 10px 10px 20px rgba(0, 2, 10, 0.2); */
  color: var(--text-color);
  font-size: 1rem;
}

.search-bar__submit {
  height: 52px;
  border-radius: var(--border-radius);
  background-color: var(--theme-gray-color);
  cursor: pointer;
  color: var(--text-color);
  font-size: 1rem;
  position: absolute;
  /* box-shadow: 10px 10px 20px rgba(0, 2, 10, 0.2); */
}

.search-bar__input:focus,
.search-bar__submit:focus {
  outline: none;
}
.search-recommendation {
  width: calc(35%);
  position: absolute;
  box-sizing: border-box;
  margin: auto;
  left: 0;
  right: 0;
  background: var(--theme-gray-color);
  cursor: pointer;
  border-radius: var(--border-radius);
  z-index: 1;
  box-shadow: 10px 10px 20px rgba(0, 2, 10, 0.2),
    inset 5px 5px 5px 0px rgba(0, 0, 0, 0.28),
    inset -5px -5px 5px 0px rgba(103, 108, 132, 0.17);
}
.search-recommendation__item {
  animation: ZoomIn 1 0.1s linear;
}
@keyframes ZoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.search-recommendation__item:hover {
  color: var(--highlight-color);

  background: -webkit-linear-gradient(
    var(--highlight-color),
    var(--highlight-gradient-shift)
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0px 0px 2px var(--highlight-color);
}

/* Search Result Display card */
.search-result__display-card {
  min-width: 250px;
  border-radius: var(--border-radius);
  height: 300px;
  color: var(--text-color);
  position: relative;
  /* z-index: -1; */
  cursor: pointer;
}

.read-more {
  right: 5%;
  bottom: 5%;
  color: var(--text-color-light);
}
