:root {
  --theme-gray-color: #32383d;
  --element-bg-color: #282c30;
  --text-color: #929292;
  --text-color-light: #5a5d61;
  --border-radius: 5px;
  --highlight-color: #f44336;
  --highlight-gradient-shift: #df5031;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-gray-color);
}
